* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
:root {
  --background-main: #faeefd;
  --product-card: #ebe5f4;
  --star-fill: #f57c0b;
  --favoriate-fill: #fa2b04;
  --trasition: all 0.3s ease-in-out;
  --card-fill: #088178;
  --card-background: #ebe5f4;
  --color-black: #000;
  --color-white: #fff;

  --container-width-lg: 85%;
  --container-width-md: 90%;
  --container-width-sm: 100%;
}

body {
  font-family: "Oswald", sans-serif;
  line-height: 1.7;
  color: var(--color-black);
  background: var(--background-main);
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}
.capital {
  text-transform: uppercase;
}
section {
  padding: 4rem 0;
}
/* section h2 {
  text-align: center;
  margin-bottom: 4rem;
} */

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}

h1 {
  font-size: 2.4rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.3rem;
}
.second-text {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}

/* a {
  color: var(--color-white);
} */

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.btn {
  display: inline-block;
  /* background: var(--color-white); */
  color: var(--color-black);
  padding: 1rem 2rem;
  border: 1px solid transparent;
  font-weight: 500;
  transition: var(--transition);
}
.promotion_container {
  /* display: flex;
  flex-direction: column; */
  overflow-x: hidden;
  position: relative;
  margin-bottom: 3rem;
}

.promotion_title {
  text-align: center;
  margin-bottom: 5rem;
}
.promotion_title h2 {
  margin-bottom: 0.5rem;
}
.promotion_product-container {
  /* display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem; */
}
.product {
  width: 100%;
  height: 23rem;
  background: var(--product-card);
  position: relative;
}
.product .product-brand {
  margin-top: 1rem;
  text-align: center;
  margin-bottom: 0.7rem;
}

.product .product-img {
  width: 100%;
  height: 180px;
  transition: all 1s;
}
.product .product-img:hover {
  transform: perspective(1000px) translateZ(150px);
}
.product-info {
  text-align: left;
  padding: 0.5rem;
}

.product-info h4 {
  padding: 1rem 1rem 1rem 0rem;
  color: #088178;
}
.star {
  padding: 0.3rem 0.5rem;
  color: var(--star-fill);
  text-align: center;
  font-size: 1rem;
}

.product-wish {
  position: absolute;
  top: 8px;
  right: 10px;

  z-index: 99;
  /* right: 30px; */
  text-align: left;
  padding-top: 0;
}
.product-wish .fa {
  color: #088178;
  font-size: 30px;

  transition: all 0.4s;
}
.product-wish .fa:hover {
  color: #ff7007;
}
.fill-heart {
  color: #ff7007 !important;
}

.cart {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 50px;
  background-color: #e8f6ea;

  color: #088178;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 8px;
  right: 15px;
  transition: all 0.4s;
}
.cart:hover {
  background-color: #a8132c;
  color: azure;
}
.right {
  position: absolute;
  bottom: 15px;
  right: 0px;
}
.top {
  position: absolute;
  top: -10px;
  right: -14px;
}
.wrapper .icon .tooltip {
  font-size: 13px;
  /* line-height: 3px; */
  border: 1px solid transparent;
  border-radius: 25px;
  background-color: orange;
  padding: 2px 8px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.01);
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s cubic-bezier(0.6, -0.55, 0.265, 1.55);
}
/* .wrapper .icon .tooltip::before {
  content: " ";
  display: block;
  background: linear-gradient(
    135deg,
    transparent,
    var(--color-black),
    var(--color-black)
  );
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 50%;
  top: -1.5rem;
  transform: rotate(45deg);
} */
.wrapper .icon:hover .tooltip.right {
  bottom: 45px;
  right: 4px;
  opacity: 1;
  pointer-events: auto;
}
.wrapper .icon:hover .tooltip.top {
  /* bottom: 50px; */
  top: -25px;
  right: 1px;
  background-color: #87cac5;
  color: #a8132c;
  opacity: 1;
  pointer-events: auto;
}
.product {
  transition: all 0.5s;
}
.product:hover {
  transform: translateY(-5px);
}

/* =====Media Queries===== */
@media screen and (max-width: 450px) {
  .container {
    width: var(--container-width-sm);
    margin: 0 auto;
  }
  .promotion_title {
    margin-bottom: 2.5rem;
  }
  .product .product-brand {
    margin-top: 1.3rem;
    margin-bottom: 0.3rem;
  }

  .cart {
    position: absolute;
    bottom: 8px;
    right: 12px;
  }
  .wrapper .icon:hover .tooltip.top {
    /* bottom: 50px; */
    top: -10px;
    right: 5px;
  }
  .wrapper .icon:hover .tooltip.right {
    bottom: 3px;
    right: 40px;
  }
  .wrapper .icon .tooltip {
    font-size: 13px;

    padding: 0px 8px;
  }
}

/* =====Media Queries(tablets)===== */
@media screen and (max-width: 850px) {
  .container {
    width: var(--container-width-md);
    margin: 0 auto;
  }
  .promotion_title {
    margin-bottom: 4.3rem;
  }
  .product-wish .fa {
    font-size: 22px;
  }
  .product .product-brand {
    margin-top: 1.2rem;

    margin-bottom: 0.4rem;
  }
  .cart {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 12px;
    right: 2px;
  }
  .wrapper .icon:hover .tooltip.top {
    /* bottom: 50px; */
    top: -20px;
    right: 5px;
  }
  .product {
    transition: var(--transition);
  }
  .product:hover {
    transform: translateY(-5px);
  }
}
